In [1]:
import pandas as pd
import numpy as np

In [10]:
df=pd.read_csv("2019_kbo_for_kaggle_v2.csv")
df

,batter_name,age,G,PA,AB,R,H,2B,3B,HR,...,tp,1B,FBP,avg,OBP,SLG,OPS,p_year,YAB,YOPS
0,백용환,24.0,26.0,58.0,52.0,4.0,9.0,4.0,0.0,0.0,...,포수,5.0,6.0,0.173,0.259,0.250,0.509,2014,79.0,0.580
1,백용환,25.0,47.0,86.0,79.0,8.0,14.0,2.0,0.0,4.0,...,포수,8.0,5.0,0.177,0.226,0.354,0.580,2015,154.0,0.784
2,백용환,26.0,65.0,177.0,154.0,22.0,36.0,6.0,0.0,10.0,...,포수,20.0,20.0,0.234,0.316,0.468,0.784,2016,174.0,0.581
3,백용환,27.0,80.0,199.0,174.0,12.0,34.0,7.0,0.0,4.0,...,포수,23.0,20.0,0.195,0.276,0.305,0.581,2017,17.0,0.476
4,백용환,28.0,15.0,20.0,17.0,2.0,3.0,0.0,0.0,0.0,...,포수,3.0,3.0,0.176,0.300,0.176,0.476,2018,47.0,0.691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1908,이원석,32.0,128.0,543.0,479.0,74.0,144.0,30.0,1.0,20.0,...,3루수,93.0,59.0,0.301,0.374,0.493,0.867,2019,395.0,0.768
1909,조용호,28.0,68.0,225.0,191.0,34.0,52.0,7.0,1.0,0.0,...,우익수,44.0,28.0,0.272,0.365,0.319,0.684,2018,13.0,0.154
1910,조용호,29.0,16.0,14.0,13.0,4.0,1.0,0.0,0.0,0.0,...,우익수,1.0,0.0,0.077,0.077,0.077,0.154,2019,188.0,0.720
1911,히메네스,27.0,70.0,299.0,279.0,37.0,87.0,17.0,2.0,11.0,...,3루수,57.0,16.0,0.312,0.344,0.505,0.849,2016,523.0,0.889
1912,히메네스,28.0,135.0,579.0,523.0,101.0,161.0,36.0,0.0,26.0,...,3루수,99.0,49.0,0.308,0.363,0.526,0.889,2017,181.0,0.769

In [14]:
df['year']

0       2013
1       2014
2       2015
3       2016
4       2017
        ...
1908    2018
1909    2017
1910    2018
1911    2015
1912    2016
Name: year, Length: 1913, dtype: int64

In [11]:
#require-1
d=df[['batter_name','H','avg','HR','OBP','year']]
for i in range(2015,2019):
    a=d.loc[d.year==i]
    H,avg,HR,OBP=a[['batter_name','H']],a[['batter_name','avg']],a[['batter_name','HR']],a[['batter_name','OBP']]
    H=H.sort_values(ascending=False,by=['H']).head(10)
    avg=avg.sort_values(ascending=False,by=['avg']).head(10)
    HR=HR.sort_values(ascending=False,by=['HR']).head(10)
    OBP=OBP.sort_values(ascending=False,by=['OBP']).head(10)
    print(f"{i}년 탑10 선수 이름")
    print("안타:",*H.values[:,0])
    print("타율:",*avg.values[:,0])
    print("홈런:",*HR.values[:,0])
    print("출루율:",*OBP.values[:,0])

2015년 탑10 선수 이름
안타: 유한준 나성범 테임즈 필 최형우 이용규 아두치 이명기 박용택 박민우
타율: 이진석 테임즈 배영섭 유한준 구자욱 채태인 마르테 박건우 이용규 서상우
홈런: 테임즈 강민호 최형우 최준석 나성범 이범호 아두치 박석민 황재균 이승엽
출루율: 이진석 테임즈 김태균 배영섭 박석민 유한준 최준석 이용규 안익훈 강민호
2016년 탑10 선수 이름
안타: 최형우 김태균 손아섭 서건창 정의윤 정근우 나성범 김주찬 박용택 고종욱
타율: 권정웅 최원준 김웅빈 박광열 나주환 최형우 정진호 박준혁 김태균 김선빈
홈런: 최정 김재환 로사리오 이범호 박석민 최형우 정의윤 이승엽 오재일 히메네스
출루율: 권정웅 정진호 김태균 최형우 최원준 김태완 최재원 신본기 나지완 박준혁
2017년 탑10 선수 이름
안타: 손아섭 김재환 서건창 이정후 버나디나 박건우 김선빈 최형우 박용택 구자욱
타율: 김선빈 박건우 박민우 나성범 박용택 최형우 김태균 김재환 이상호 손아섭
홈런: 최정 스크럭스 김재환 이대호 러프 로맥 한동민 나지완 버나디나 최형우
출루율: 최형우 박민우 김재환 최정 박용택 박건우 손아섭 김선빈 나성범 김태균
2018년 탑10 선수 이름
안타: 전준우 손아섭 이대호 최형우 나성범 김재환 채은성 최주환 로하스 박해민
타율: 안상현 유재신 양원혁 장승현 전민재 정수빈 전병우 김현수 양의지 허일
홈런: 김재환 로하스 박병호 로맥 한동민 이대호 최정 이성열 전준우 러프
출루율: 최윤석 유재신 양원혁 안상현 박병호 전병우 국해성 정수빈 장승현 양의지

In [12]:
d=df.loc[df.year==2018][['batter_name','war','cp']]
C=d.loc[d.cp=="포수"].sort_values(ascending=False,by=['war']).head(1)
FB=d.loc[d.cp=="1루수"].sort_values(ascending=False,by=['war']).head(1)
SB=d.loc[d.cp=="2루수"].sort_values(ascending=False,by=['war']).head(1)
TB=d.loc[d.cp=="3루수"].sort_values(ascending=False,by=['war']).head(1)
S=d.loc[d.cp=="유격수"].sort_values(ascending=False,by=['war']).head(1)
LF=d.loc[d.cp=="좌익수"].sort_values(ascending=False,by=['war']).head(1)
CF=d.loc[d.cp=="중견수"].sort_values(ascending=False,by=['war']).head(1)
RF=d.loc[d.cp=="우익수"].sort_values(ascending=False,by=['war']).head(1)
print("2018년 각 포지션 별 승리 기여도가 제일 높은 선수")
print(*C.values[0])
print(*FB.values[0])
print(*SB.values[0])
print(*TB.values[0])
print(*S.values[0])
print(*LF.values[0])
print(*CF.values[0])
print(*RF.values[0])

2018년 각 포지션 별 승리 기여도가 제일 높은 선수
양의지 6.643 포수
박병호 6.812 1루수
최주환 4.507 2루수
허경민 4.053999999999999 3루수
김하성 4.395 유격수
김재환 6.246 좌익수
로하스 5.992000000000001 중견수
손아섭 5.12 우익수

In [13]:
d=df[['H','HR','RBI','SB','war','avg','OBP','SLG']]
corr=d.corrwith(df.salary)
max_val=corr.max()
for k,v in corr.items():
    if v==max_val:
        print(k,v)

RBI 0.547702462637517